.advertising {
  font-weight: normal;
  color: $black;
  background-color: $grey-3;
  padding-bottom: 25px;

  @include obvodka;
}

.advertising__header {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 33px;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
}

.advertising__item {
  list-style-type: none;
}

.advertising__story,
.advertising__aspect {
  font-family: "Arial", sans-serif;
  color: $special_dark-grey;
}

.advertising__story {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 25px;
}

.advertising__aspect {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
}

.advertising__number {
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 34px 0;
  padding-top: 14px;
  padding-bottom: 17px;
}

.advertising__result {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 42px;
}

.advertising__before,
.advertising__after {
  margin-bottom: 23px;
}

.advertising__radio-list {
  margin: 0;
}

.advertising__radiobatton {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;
}
