.advertising {
  font-weight: normal;
  color: $black;
  background-color: $grey-3;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, $white 55%, $grey-3 55%);
    background-repeat: no-repeat;
    background-position: top center;
    border-top: 1px solid $grey-6;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, $white 25%, $grey-3 25%);
    border: none;
  }
}

.advertising__header {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 33px;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    padding-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    padding-bottom: 76px;
  }
}

.advertising__desktop-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.advertising__wrapper {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.advertising__list {
  display: flex;
  justify-content: space-between;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 250px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.advertising__item {
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding-right: 42px;
  }
}

.advertising__story,
.advertising__aspect {
  font-family: "Arial", sans-serif;
  color: $special_dark-grey;
}

.advertising__story {
  padding-right: 21px;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-right: 31px;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    padding-right: 0;
    padding-bottom: 69px;
  }
}

.advertising__aspect {
  margin: -8px 0 0 27px;
  font-size: 12px;
  line-height: 12px;
  width: 70px;
  text-align: center;
  background-color: $grey-3;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 14px;
    width: 130px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey-3;
  }
}

.advertising__number {
  padding-top: 14px;
  padding-bottom: 17px;
  margin: 0;
  width: 124px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid $special-grey;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
  }
}

.advertising__result {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 42px;

  @media (max-width: $mobile-width-only), (min-width: $desktop-width) {
    & br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.advertising__before,
.advertising__after {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 428px;
    left: 30px;
    width: 600px;
    height: 500px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 680px;
    width: 600px;
    height: 500px;
  }
}


.advertising__slider {
  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.advertising__scale {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    padding-top: 358px;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 150px;
  }
}

.advertising__label-before,
.advertising__label-after {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $grey-8;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px dotted $grey-9;
  }

  &:hover {
    @media (min-width: $tablet-width) {
      border-bottom: 1px solid $grey-10;
    }
  }
}

.advertising__label-before {
  margin-left: 37px;

  @media (min-width: $tablet-width) {
    margin-left: 67px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: $white;
    border: 1px solid $special-grey;

    @media (max-width: $mobile-width-only) {
      height: 14px;
      top: 3px;
      left: 89px;
      right: 87px;
      border-radius: 7px;
    }

    @media (min-width: $tablet-width) {
      height: 34px;
      width: 34px;
      bottom: 64px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      z-index: 1;
      box-shadow: 0 1px 3px rgba($black, 0.16);
    }
  }

  &:hover::before {
    @media (min-width: $tablet-width) {
      box-shadow: 0 2px 4px rgba($black, 0.19);
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $basic-green;

    @media (max-width: $mobile-width-only) {
      height: 6px;
      top: 7px;
      left: 95px;
      right: 50%;
      border-radius: 3px;
    }

    @media (min-width: $tablet-width) {
      height: 8px;
      width: 8px;
      bottom: 76px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      z-index: 2;
    }
  }

  &:active {
    border: none;

    &::before {
      border: 1px solid $basic-green;
      box-shadow: 0 3px 5px rgba($black, 0.2);
    }
  }
}

.advertising__label-after {
  margin-right: 35px;

  @media (min-width: $tablet-width) {
    margin-right: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }

  &::before {
    content: "";
    position: absolute;

    @media (min-width: $tablet-width) {
      height: 6px;
      bottom: 77px;
      left: 140px;
      right: 140px;
      background-color: $grey-11;
      border-radius: 3px;
    }

    @media (min-width: $desktop-width) {
      right: 70px;
    }
  }
}
