.append {
  position: relative;
  padding-left: 0;
  padding-top: 34px;
  padding-bottom: 34px;
  margin-left: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: $black;
  background-color: $white;
  border: none;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-left: 42px;
    padding-right: 65px;
    padding-bottom: 49px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 110px;
    padding-bottom: 52px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }
}

.append__header {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  background-color: $white;
  padding-right: 10px;
  margin-left: -20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.append__list {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 27px;
    column-gap: 87px;
  }

  @media (min-width: $desktop-width) {
    //grid-template-columns: 326px 326px 326px 326px;
    //column-gap: 0;
    display: flex;
    justify-content: space-between;
  }
}

.append__item {
  padding-bottom: 10px;
  list-style-type: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  &:active {
    opacity: 0.3;
  }
}

// Стилизация чек-боксов
.append__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $special_grey;
    margin-right: 15px;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      margin-right: 17px;
    }
  }
}

.append__input:checked + .append__label::after {
  position: absolute;
  content: "";
  top: 15px;
  left: 15px;
  width: 26px;
  height: 26px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    top: 20px;
    left: 20px;
  }
}


.append__label:hover::before {
  border: 1px solid $grey-7;
}

.append__input:active {
  & + .append__label,
  & + .append__label::after,
  & + .append__label::before {
    opacity: 0.3;
  }
}
