.comments {
  padding-left: 0;
  padding-top: 34px;
  padding-bottom: 27px;
  font-weight: normal;
  background-color: $white;
  border: none;

  @media (min-width: $tablet-width) {
    padding-left: 51px;
    padding-right: 65px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 110px;
    padding-bottom: 69px;
    margin-top: 0;
  }
}

.comments__header {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: $basic-green;
    top: 16px;
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: -10vw;
      width: 5vw;
    }
  }

  &::before {
    right: -60vw;
    width: 55vw;
  }

  @media (min-width: $desktop-width) {
    &::after {
      left: -60%;
      width: 50%;
    }

    &::before {
      right: -90vw;
      width: 85vw;
    }
  }
}

.comments__text {
  width: 100%;
  padding-top: 13px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  border: 1px solid $special_grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
