.common-header {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $grey-4;
    tablet: none;
    desktop: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
  }
}

.common-header__wrapper {
  position: relative;

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 14px;
    width: 87.5%;
    min-width: 260px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    width: 37%;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 34%;
    padding-top: 53px;
    margin-left: 0;
  }
}

.common-header__logo {
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    width: 197px;
    height: 50px;
  }
}

.common-header__button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 0;
  cursor: pointer;
  border: none;

  @media (max-width: $mobile-width-only) {
    .common-header--opened &::before,
    .common-header--opened &::after,
    .common-header--closed &::before {
      content: "";
      position: absolute;
      top: 12px;
      right: 2px;
      width: 24px;
      height: 2px;
      background-color: $black;
      cursor: pointer;
    }

    .common-header--opened &::before {
      transform: rotate(45deg);
    }

    .common-header--opened &::after {
      transform: rotate(-45deg);
    }

    .common-header--closed &::before {
      top: 4px;
      box-shadow:
        0 8px 0 0 $black,
        0 16px 0 0 $black;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  .common-header--nojs & {
    display: none;
  }
}

.common-header__menu {
  @media (max-width: $mobile-width-only) {
    .common-header--closed & {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 61%;
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    min-width: 704px;
    width: 50%;
    padding-top: 71px;
  }
}

.common-header__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 483px;
    padding-right: 29px;
    margin: 0 auto 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding-right: 0;
    margin: 0 95px 0 132px;
  }
}

.common-header__item {
  position: relative;
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  list-style-type: none;
  text-transform: uppercase;
  color: $black;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    padding-top: 22px;
    padding-bottom: 22px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    background-color: $white;
    border-top: 1px solid $grey-5;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

    .common-header--index & {
      color: $white;
    }
  }

  @media (min-width: $tablet-width) {
    &--active {
      padding-bottom: 8px;
      border-bottom: 2px solid $basic-green;

      @media (min-width: $desktop-width) {
        .common-header--index & {
          border-bottom: 2px solid $white;
        }
      }
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
