.container {
  position: relative;
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    width: 87.5%;
    min-width: 260px;
  }

  @media (min-width: $tablet-width) {
    width: 92.2%;
  }

  @media (min-width: $desktop-width) {
    width: 84.8%;
    max-width: 1220px;

    &--header {
      width: 50%;
      max-width: 960px;
    }
  }
}
