.contacts {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  background-color: $white;
  padding-top: 28px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 570px;
    left: 110px;
    top: 95px;
    z-index: 1;
  }

  &--catalog,
  &--form {
    background-color: $basic-grey;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.contacts__welcome {
  width: 145px;
  padding-left: 19px;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black-1;

  @media (min-width: $tablet-width) {
    // (171px+100px =271px)
    width: 271px;
    padding-left: 71px;
    font-size: 20px;
    line-height: 21px;
  }
}

.contacts__address {
  width: 158px;
  padding-right: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    // (159px+72px = 231px)
    width: 231px;
    padding-right: 72px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__spb {
  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }
}
