.copyright {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  padding: 22px 6.5% 22px 6.5%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width ) {
    padding-top: 55px;
    padding-bottom: 61px;
    padding-left: 30px;
    padding-right: 3.9%;
  }

  @media (min-width: $desktop-width ) {
    width: 163px+110px;
    padding-left: 0;
    padding-top: 57px;
    padding-bottom: 58px;
    padding-right: 110px;
  }
}

.copyright__link {
  padding-top: 10px;
}
