.copyright {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 22px 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: $special_dark-grey;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    width: 163px;
    margin-left: 0;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 110px;
  }

  &:hover {
    opacity: 0.8;

    & .copyright__icon {
      color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  @media (min-width: $tablet-width) {
    padding-right: 22px;
  }
}
