.form {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.form__submit {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: $white;
  background-color: $basic-green;
  text-align: center;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet-width) {
    width: 282px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: 42px;
    margin-right: 61px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin-left: 0;
  }

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    color: rgba($white, 0.3);
  }
}

.form__hint {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
    font-size: 16px;
  }
}
