.gift {
  width: 280px;
  height: 289px;
  margin-bottom: 35px;
  color: $white;
  background-color: $basic-green;
  text-align: center;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    display: flex;
    justify-content: space-between;
    width: 92.5%;
    height: 200px;
    margin-bottom: 78px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    align-self: end;
    margin-top: 0;
    margin-left: 79px;
    margin-right: 100px;
    margin-bottom: 0;
    width: 245px;
    height: 289px;
    flex-shrink: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.gift__img {
  height: 63px;
  margin-top: 62px;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin-top: 64px;
    margin-left: 88px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 63px;
    margin-left: 16px;
    margin-bottom: 59px;
  }
}

.gift__slogan {
  width: 161px;
  margin: 0 auto;
  padding-bottom: 43px;
  font-family: "Arial", serif;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding-top: 73px;
    margin-right: 124px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-left: 48px;
  }
}
