.main-menu {
  @include obvodka;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    flex-grow: 1;
    padding-top: 42px;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    padding-top: 71px;
    //padding-bottom: 14px;
  }
}

.main-menu__list {
  @media (max-width: $mobile-width-only) {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    // min-height: 62px;
    // align-items: center;
    // font-size: 18px;
    // line-height: 24px;
    // padding: 0;
    // margin-bottom: 60px;
  }

}

.main-menu__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  list-style-type: none;
  text-transform: uppercase;
  color: $black;
  background-color: $white;

  @media (max-width: $mobile-width-only) {
    padding-top: 22px;
    padding-bottom: 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

}
