.main-header {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 41px;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 61px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 59px;
  }

  &--form {
    padding-top: 21px;
    padding-bottom: 37px;

    @media (min-width: $tablet-width) {
      padding-top: 65px;
      padding-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 77px;
      padding-bottom: 56px;
    }
  }
}
