.owner {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  padding-bottom: 27px;
  margin-left: 0;
  margin-top: 26px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  background-color: $white;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet-width) {
    padding-left: 39px;
    padding-right: 34px;
    padding-bottom: 65px;
    margin-top: 74px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 69px;
    margin-top: 65px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }
}

.owner__header {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  color: $black;
  background-color: $white;
  text-transform: none;

  @media (max-width: $mobile-width-only) {
    width: 219px;
    padding-right: 10px;
    margin-left: -20px;
    padding-left: 20px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
    font-size: 36px;
    line-height: 36px;
  }
}

.owner__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.owner__ask-email,
.owner__ask-phone {
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 46.5%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 12px;
    width: 20px;
    height: 20px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      right: 17px;
    }
  }
}

.owner__ask-email::before {
  top: 17px;
  height: 14px;
  background-image: url("../img/icon-mail.svg");
}


.owner__phone,
.owner__email {
  flex-grow: 1;
  padding: 13px 13px 13px 13px;
  border: 1px solid $special_grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 22px;
  }

  &:active {
    border: 2px solid $special_dark-grey;
  }

  &:invalid:not(:placeholder-shown) {
    border: 2px solid $status_error;
  }

  &:valid:not(:placeholder-shown) {
    border: 1px solid $special_grey;
  }
}

.owner p {
  margin: 0;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

.owner label {
  margin-right: 12px;

  @media (min-width: $tablet-width) {
    margin-right: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 13px;
  }
}
