.pad-products {
  padding-top: 68px;
  margin-bottom: 39px;
  font-weight: normal;
  color: $black;
  background-color: $white;

  @media (min-width: $desktop-width) {
    padding-top: 75px;
  }
}

.pad-products__header {
  position: relative;
  margin: 0;
  padding-bottom: 34px;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 39px;
    padding-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 7.5vw;
    padding-bottom: 88px;
  }
}

.pad-products__container {
  @media (min-width: $tablet-width) {
    margin: 0 0 60px 0;
    border: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 37px;
    padding-left: 7.5vw;
    border: none;
  }
}

.pad-products__list {
  margin: 0;
  padding: 0;
}

.pad-products__item {
  display: grid;
  grid-template-areas: "one one"
    "two three"
    "four four";
  padding: 12px 0 19px 0;
  list-style-type: none;
  border-top: 1px solid $special_grey;

  &:last-of-type {
    border-bottom: 1px solid $special_grey;
  }

  @media (min-width: $tablet-width) {
    grid-template-areas: "one two three"
      "four four four";
    grid-template-columns: 1fr 1fr 93px;
    padding: 26px 39px 28px 39px;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: "one two three four";
    grid-template-columns: 1fr 222px 97px 244px;
    padding: 15px 0 25px 0;
    border-bottom: 1px solid $special-grey;

    &:first-of-type {
      border-top: 1px solid $special-grey;
    }
  }
}

.pad-products__name {
  grid-area: one;
  padding-bottom: 13px;
  margin: 0 0 0 2px;
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey-2;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.pad-products__unit,
.pad-products__price {
  padding-bottom: 15px;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 20px;
  }
}

.pad-products__unit {
  grid-area: two;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.pad-products__price {
  grid-area: three;
  text-align: right;

  @media (min-width: $desktop-width) {
    margin-left: 19px;
    text-align: left;
  }
}

.pad-products__button {
  grid-area: four;
  padding: 11px 0 12px 0;
  width: auto;
  font-size: 16px;
  line-height: 16px;
  color: $white;
  background-color: $basic-green;
  border: none;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $desktop-width) {
    width: 244px;
    margin: -9px 0 0 5px;
  }

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
