.products {
  position: relative;
  padding-top: 79px;
  padding-bottom: 25px;
  margin: 0;
  font-weight: normal;
  background-color: $white;
  text-align: center;

  @media (max-width: $tablet-width) {
    border-top: 1px solid $grey-4;
    border-bottom: 1px solid $grey-4;
  }

  @media (min-width: $tablet-width) {
    margin-top: 105px;
    padding-top: 161px;
    padding-bottom: 23px;
    border: 2px solid $basic-grey;
  }

  @media (min-width: $desktop-width) {
    padding-top: 160px;
    padding-bottom: 25px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background-image: url("../img/icon-plus-mobile.svg");

    @media (min-width: $tablet-width) {
      top: 52px;
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-plus.svg");
    }
  }
}

.products__header {
  margin: 0;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  color: $black-1;

  @media (min-width: $tablet-width) {
    padding-bottom: 23px;
    margin: 0 auto;
    width: 134px;
    font-size: 20px;
    line-height: 22px;
  }
}

.products__subheader {
  margin: 0;
  padding-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    padding-bottom: 87px;
    margin: 0 auto;
    width: 167px;
    font-size: 16px;
    line-height: 18px;
  }
}

.products__button {
  display: block;
  margin: 0 6.5%;
  padding-top: 10px;
  padding-bottom: 13px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_dark-grey;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    margin-left: 39px;
    margin-right: 37px;
  }

  &:hover {
    background-color: $basic_grey-2;
  }

  &:active {
    color: rgba($special_dark-grey, 0.3);
  }
}
