.products {
  padding-top: 79px;
  padding-bottom: 25px;
  margin: 0;
  font-weight: normal;
  background-color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 161px;
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 79px;
    padding-bottom: 25px;
  }

  @include obvodka;
}

.products__header {
  margin: 0;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  color: $black-1;

  @media (min-width: $tablet-width) {
    padding-bottom: 23px;
    margin: 0 auto;
    width: 134px;
    font-size: 20px;
    line-height: 22px;
  }
}

.products__subheader {
  margin: 0;
  padding-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    padding-bottom: 87px;
    margin: 0 auto;
    width: 167px;
    font-size: 16px;
    line-height: 18px;
  }
}

.products__button {
  display: block;
  margin: 0 20px;
  padding-top: 14px;
  padding-bottom: 13px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_dark-grey;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    margin: 0 38px;
  }
}
