.product-card {
  padding-top: 32px;
  padding-bottom: 9px;
  font-style: normal;
  list-style-type: none;
  background-color: $white;

  @media (max-width: $tablet-width) {
    border-top: 1px solid $grey-4;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    background-image: linear-gradient(to bottom, $white 20%, $basic-grey 20%);
    background-repeat: no-repeat;
    background-position: top center;
  }
}

.product-card__wrapper {
  display: block;

  @media (max-width: $mobile-width-only) {
    display: flex;
  }
}

.product-card__img-container {
  position: relative;
  width: 140px;
  height: 112px;
  margin-left: 6.5vw;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
    width: 168px;
    height: 200px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
    margin-bottom: 46px;
  }
}

.product-card__img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  max-width: none;
  width: auto;
  // width: 100%;
}

.product-card__table {
  margin-top: -12px;

  @media (min-width: $tablet-width) {
    width: 252px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-card__name {
  padding-bottom: 14px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: $special_dark-grey-2;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    width: 76px;

    & br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__features {
  width: 142px;
  margin-left: -2px;
  border-collapse: collapse;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    width: 252px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}

.product-card__feature {
  @media (min-width: $tablet-width) {
    height: 33px;
  }
}

.product-card__feature-value {
  text-align: right;
}

.product-card__feature-value,
.product-card__feature-name {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special_grey;
  }
}

.product-card__order {
  display: block;
  padding-top: 13px;
  padding-bottom: 12px;
  margin: 0 6.5% 14px 6.5%;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  color: $white;
  background-color: $basic-green;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 33px 37px 40px 39px;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
