.radio-buttons {
  position: relative;
  margin: 0;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 18px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey-2;
  background-color: $white;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: $grey-4;
      left: -10%;
      right: -10%;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 28px;
    padding-top: 25px;
    padding-bottom: 21px;
    margin-left: 40px;
    margin-right: 52px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid $grey-6;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    width: 50%;
    padding-left: 28px;
    margin-right: 0;
  }
}

.radio-buttons__item {
  padding-bottom: 11px;
  list-style-type: none;

  &:last-of-type {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-bottom: 7px;
  }
}

// Стилизация радио-кнопок
.radio-buttons__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $special_grey;
    border-radius: 50%;
    margin-right: 15px;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
      margin-right: 20px;
    }
  }
}

.radio-buttons__input:checked + .radio-buttons__label::after {
  position: absolute;
  content: "";
  top: 15px;
  left: 15px;
  width: 13px;
  height: 13px;
  background-color: $basic-green;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    top: 20px;
    left: 20px;
    width: 18px;
    height: 18px;
  }
}

.radio-buttons__label:hover::before {
  border: 1px solid $grey-7;
}

.radio-buttons__input:active {
  & + .radio-buttons__label,
  & + .radio-buttons__label::after,
  & + .radio-buttons__label::before {
    opacity: 0.3;
  }
}
