.social-buttons {
  display: flex;
  justify-content: space-around;
  background-color: $basic-grey;
  padding-top: 20px;
  padding-bottom: 20px;

  @include obvodka;
}

.social-buttons__item {
  list-style-type: none;
}
