.social-buttons {
  display: flex;
  justify-content: space-around;
  background-color: $basic-grey;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 56px;
  padding-left: 56px;
  border-bottom: 1px solid $grey-4;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    width: 129px;
    margin: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin-top: 36px;
    margin-left: 27px;
  }
}

.social-buttons__item {
  list-style-type: none;
}

.social-buttons__link {
  &:hover {
    opacity: 0.8;
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-buttons__icon {
  @media (min-width: $desktop-width) {
    width: 30px;
    height: 22px;
  }
}
