.subheader {
  width: 226px;
  margin: 0;
  padding-bottom: 39px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  background-color: $white;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    // 323px + 70px(= padding-left) = 393px
    width: 393px;
    padding-left: 70px;
    padding-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    // 323px + 110px(= padding-left) = 433px
    width: 433px;
    padding-left: 110px;
  }

  @include obvodka;
}
