.subheader {
  margin: 0;
  padding-bottom: 39px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $black;
  background-color: $white;
  text-transform: uppercase;


  @include obvodka;
}
