.wrapper-form {
  @media (min-width: $tablet-width) {
    display: flex;
    align-content: center;
  }
}

.wrapper-form1 {
  @media (min-width: $desktop-width) {
    display: flex;
    align-content: center;
  }
}
