.contacts {
  font-weight: normal;
  background-color: $white;

  &--catalog {
    background-color: $basic-grey;
  }

  @include obvodka(blue);
}

.contacts__welcome {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: $special_dark-grey;
}
