// Тени из стайл-гайда
@mixin shadow_normal {
  background: $grey-shadow;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
}

@mixin shadow_hover {
  background: $grey-shadow;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
}

@mixin shadow_pressed {
  background: $grey-shadow;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

// Служебная обводка
@mixin obvodka( $color: red) {
  outline: 2px solid $color; /* Пунктирная рамка */
  outline-offset: -2px;
}
