.page-header {
  @include obvodka(blue);
  padding-top: 12px;
  padding-bottom: 14px;
}

.page-header__button {
  cursor: pointer;

  &--hidden {
    width: 24px;
    height: 16px;
  }

  &--open {
    width: 18px;
    height: 18px;
  }
}
